#publi_notif_pp {
    display: flex;
    flex-direction: row;
}

#barre_recherche {
    color: grey;
}


#barre_micro {
    display: flex;
    flex-direction: row;

}

#recherche {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    /* Pour s'assurer qu'elle reste au-dessus des autres éléments */

}

#para_youtube {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

#img_ytb {
    margin-top: 4px;
    margin-left: 18px;
    height: 42px;
    padding-left: 10px;

}

@keyframes deplacement {
    0% {
        background-color: #f1f1f1;
        color: #0f0f0f;
    }

    50% {
        background-color: #303030;
        color: #f1f1f1;
    }

    100% {
        background-color: #f1f1f1;
        color: #0f0f0f;
    }

}

.img_cloche {
    margin-top: 8px;
    margin-left: 10px;
    height: 26px;
    margin-right: 10px;
}

#killua {
    margin-top: 4px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 17px;
}

#barre {
    border-radius: 20px;
    height: 40px;
    width: 600px;
    outline-color: #222222;
    border: 1.2px solid #303030;
    color: #ffffff;
    background-color: #121212;
    padding-left: 15px;
}

#img_menu {
    margin-left: 10px;
    margin-top: 19px;
    height: 16px;
}

#img_micro {
    height: 20px;
    width: 20px;


}

#micro {
    margin-left: 12px;
    height: 40px;
    width: 40px;
    background-color: #303030;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#proposition {
    width: 1415px;
    height: 55px;
    border: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    position: fixed;
    background-color: #0f0f0f;
    overflow-y: auto;
    padding-left: 30px;
    left: 60px;

}

.barre_propo:hover {
    background-color: grey;
    opacity: 90%;

}

.miniature:hover {
    border: solid white;

}

.miniature_short:hover {
    border: solid white;

}

.barre_propo {
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 15px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #272727;
    color: #f1f1f1;
    border-radius: 8px;
    text-align: center;

}

#tous {
    background-color: #f1f1f1;
    color: #0f0f0f;
    animation-name: deplacement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#cote {
    position: fixed;
    top: 47px;
    /* Met le menu en dessous de la barre de recherche */
    left: 0;
    width: 64px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: #0f0f0f;
    text-align: center;
    padding-top: 20px;

}

#vert {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.texte_cote {
    color: #f1f1f1;
    margin-top: 2px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.img_cote {

    height: 25px;
    width: 25px;
}

#propo_video {
    margin-left: 65px;
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
}

.miniature {
    width: 100%;
    border-radius: 6%;
    border-color: red;
}

.miniature_short {
    width: 225px;
    height: 390px;
    border-radius: 10px;
}

#video {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#boite_short {
    display: flex;
    flex-direction: column;
    margin-bottom: -30px;
}

#grande_short_boite {
    display: flex;
    flex-direction: row;
}

#short_boite {
    margin-right: 12px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}

#short_logo {
    margin-top: 50px;
    margin-bottom: -80px;
    display: flex;
    flex-direction: row;
}

#texte_short {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: #0f0f0f;
}

#micro {
    border-radius: 50px;

}

#video {
    display: flex;
    flex-direction: column;
}

#video_entiere {
    width: 1140px;
    margin-top: 10px;
}

#boite_miniature {
    width: 1420px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.boite_image {
    margin-top: -0.8px;
    margin-right: 12px;
}

.titre_video {
    width: 250px;
    color: white;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.titre_video_short {
    color: white;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.miniature_entier {
    margin-top: 50px;
    margin-bottom: -45px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 340px;
}

.title_video {
    margin-top: 6px;
    display: flex;
    flex-direction: row;


    width: 100%;

}

.img_chaine {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    border: solid #0f0f0f 0.3px;

}

.plus {
    width: 12px;
    height: 12px;
}

.police_ytb {
    margin-top: 0px;
    margin-bottom: 1px;
    color: #aaaaaa;
    font-size: 13px;
}

.boite_titre {
    margin-left: 0px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;

}

.boite_plus {
    margin-top: -0.5px;
}

.police_ytb2 {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #aaaaaa;
    font-size: 13px;
}

.police_propo {
    margin-top: 8px;
    font-size: 14px;
}

.accueil {
    margin-top: 15px;
    margin-bottom: 30px;
}

.nom_ytb {
    font-family: Arial, Helvetica, sans-serif;

}

.test {
    margin-top: 7px;
}